# Datenimportierung

Zum Extrahieren einer Variablen aus einer Tabelle können Sie die Schreibweise mit Punkt verwenden.

`table.VariableName`

:::{admonition} Aufgabe 1
Weisen Sie den Inhalt von `elements.Density` einem Spaltenvektor mit dem Namen `d` zu.  
:::

In [ ]:
# Ihr Code

:::{admonition} Hinweis
:class: note dropdown

Verwenden Sie zum Zuweisen einer Tabellenvariablen zu einem Spaltenvektor die Schreibweise `colVec = Tabellenname.Variablenname`. 
:::

:::{admonition} Lösung
:class: tip dropdown

``` python
y = np.array([3, 7, 9])
```
:::

<br>

Wenn Sie mit einer Tabelle arbeiten, haben Sie die Möglichkeit, zugehörige Daten zusammenzuhalten. Anstatt separate Variablen zu erstellen, können Sie das Ergebnis einer Berechnung an eine Tabelle anhängen.

`data.HeightMeters = data.HeightYards*0.9144`


Wenn die Variable `data.HeightMeters` nicht vorhanden ist, erstellt MATLAB eine neue Variable in der Tabelle `data` mit dem Namen HeightMeters.

:::{admonition} Aufgabe 2

Multiplizieren Sie jedes Element von elements.Density mit `elements.Volume1`. Denken Sie daran, die elementweise Multiplikation mit `*` zu verwenden.
Weisen Sie das Ergebnis `elements.Mass` zu. 
:::

In [ ]:
# Ihr Code

:::{admonition} Lösung
:class: tip dropdown

``` python
y = np.array([3, 7, 9])
```
:::

<br>

Bilder ggf bzw. nicht anwendwar in Python.

Sie können mit einer Tabelle interagieren, indem Sie im Ausgabebereich eines Live-Skripts auf sie klicken. Beispielsweise können Sie eine Tabelle mithilfe einer ihrer Variablen sortieren.
Screenshot mit der Schaltfläche „Sort Smallest to Largest“ (Sortierung von kleinstem zu größtem Wert) im Ausgabebereich.
Zum Speichern Ihrer Änderungen an der Tabelle in Ihrem Skript klicken Sie auf die Schaltfläche Update Code (Code aktualisieren).

:::{admonition} Aufgabe 3
Sortieren Sie die Tabelle von der kleinsten zur größten Masse. Aktualisieren Sie anschließend den Code im Skript, bevor Sie auf die Schaltfläche Submit (Übergeben) klicken.  
:::

In [ ]:
# Ihr Code

:::{admonition} Lösung
:class: tip dropdown

``` python
y = np.array([3, 7, 9])
```
:::

<br>

Zum Extrahieren von Tabellenvariablen können Sie die Schreibweise mit Punkt verwenden. Verwenden Sie zum Extrahieren von Zeilen die reguläre Arrayindizierung.

Versuchen Sie, die ersten drei Zeilen der Tabelle zu extrahieren.

`top3 = elements(1:3,:)`

Beachten Sie, dass `top3` auch eine Tabelle ist.