# Tabellen aufbauen

Bei Datensätzen mit unterschiedlichen Datentypen (z. B. Text, Zahlen, Kategorien) stößt `numpy` schnell an seine Grenzen. Das Paket `pandas` bietet hier eine flexible und leistungsstarke Möglichkeit, strukturierte Daten in Tabellenform zu speichern und zu analysieren. Es ermöglicht:
- Eine klare tabellarische Darstellung
- Unterschiedliche Datentypen in den Spalten
- Sinnvollte Benennung einzelner Spalten 
- Einfache Filterung, Gruppierung und Transformation von Daten

## Tabellen erstellen und erweitern

Ein `DataFrame` ist die zentrale Datenstruktur in `pandas` – vergleichbar mit einer Tabelle in Excel. Jede Spalte kann dabei unterschiedliche Datentypen enthalten (z. B. Zahlen, Texte, Datumswerte), solange jede Spalte die gleiche Anzahl an Einträgen hat.

In [ ]:
import pandas as pd  # pandas ist eine Bibliothek zur Arbeit mit Tabellen (DataFrames)

veranstaltungen = pd.DataFrame({
    # Spaltenname    Liste mit Werten für jede Veranstaltung
    'Veranstaltung': ['Stochastik I', 'Lineare Algebra I', 'Produktion', 'Ökonometrie'],
    'Typ':           ['Vorlesung', 'Vorlesung', 'Vorlesung', 'Übung'],
    'Raumgröße':     [150, 150, 300, 40]
    # Wichtig: Alle Listen müssen gleich lang sein – jede Zeile ist eine vollständige Beobachtung.
})
print(veranstaltungen)

Um eine Tabelle zu erstellen, übergibt man eine Sammlung von Spaltennamen und dazugehörigen Daten an `pd.DataFrame()`. Dabei:
- Gibt man zuerst für jede Spalte einen Namen an, z. B. "Veranstaltung" oder "Raumgröße",
- und ordnet diesem Namen eine Liste mit Werten zu – also z. B. alle Veranstaltungsnamen oder die jeweiligen Raumgrößen.

So entsteht eine strukturierte Tabelle, bei der jede Zeile für eine Beobachtung (hier: eine Veranstaltung) steht und jede Spalte eine bestimmte Information über diese Beobachtungen enthält.
In unserem Beispiel bauen wir eine Tabelle mit Lehrveranstaltungen auf. Jede Zeile steht für eine Veranstaltung. Die Spalten geben den Titel, den Veranstaltungstyp und die Größe des Raums an.

:::{admonition} Aufgabe 1.1
Reproduzieren Sie die folgende Tabelle
| Name   | Fachsemester | Studiengang           |
| ------ | ------------ | --------------------- |
| Anna   | 2            | Wima |
| Berkan | 4            | VWL                   |
| Clara  | 1            | Wima |
| Daniel | 3            | BWL                   |

und nennen Sie sie `studierende`.

:::

In [ ]:
# Ihr Code


:::{admonition} Hinweis
:class: note dropdown

Nutzen Sie `pd.DataFrame()` und übergeben Sie die Spaltennamen als `string` und den Spalteninhalt als `list`.
:::

:::{admonition} Lösung
:class: tip dropdown

``` python
# Tabelle erzeugen
studierende = pd.DataFrame({
    'Name': ['Anna', 'Berkan', 'Clara', 'Daniel'],
    'Fachsemester': [2, 4, 1, 3],
    'Studiengang': ['Wima', 'VWL', 'Wima', 'BWL']
})

# Tabelle anzeigen
print(studierende)
```
:::

Wenn Sie eine neue Zeile zu einem bestehenden `DataFrame` hinzufügen möchten, können Sie dafür die `loc[]`-Methode verwenden. Dabei geben Sie einen neuen Index an, unter dem die neue Zeile eingefügt werden soll. Die Werte der neuen Zeile müssen in der gleichen Reihenfolge angegeben werden wie die Spalten im DataFrame: `veranstaltungen.loc[neue_indexnummer] = [wert_spalte1, wert_spalte2, ..., wert_spalteN]`.

In [ ]:
# Neue Zeile ganz unten hinzufügen
veranstaltungen.loc[len(veranstaltungen)] = ['Marketing', 'Vorlesung', 300]

print(veranstaltungen)

:::{admonition} Aufgabe 1.2
Fügen Sie Elif zum Datensatz `studierende` hinzu. Sie ist im 2. Fachsemster ihres VWL Studiums. 
:::

In [ ]:
# Ihr Code


:::{admonition} Hinweis
:class: note dropdown

Nutzen Sie `.loc[neue_indexnummer]` und übergeben Sie die relevanten Informationen in der richtigen Reihenfolge in einem `string`.

:::

:::{admonition} Lösung
:class: tip dropdown

``` python
# Neue Zeile einfügen
studierende.loc[len(studierende)] = ['Elif', 2, 'VWL']

print(studierende)
```
:::

Wenn Sie eine neue Spalte zu einem bestehenden pandas-DataFrame hinzufügen möchten, können Sie einfach einen neuen Spaltennamen in eckigen Klammern angeben und ihm eine Liste von Werten zuweisen: `veranstaltung["neue_spalte"] = [wert1, wert2, ..., wertN]`

In [ ]:
# Neue Spalte 'Gebäude' hinzufügen
veranstaltungen['Gebäude'] = ['B6', 'B6', 'A3', 'SO', 'A3']

print(veranstaltungen)

:::{admonition} Aufgabe 1.3
Erweitern Sie `studierende` um eine neue Spalte namens `'Alter'`. Verwenden Sie dafür die folgenden Altersangaben:
| Name    | Fachsemester | Studiengang           | Alter |
|---------|--------------|------------------------|-------|
| Anna    | 2            | Wima  | 20    |
| Berkan  | 4            | VWL                    | 23    |
| Clara   | 1            | Wima  | 19    |
| Daniel  | 3            | BWL                    | 22    |
| Elif     | 2            | VWL                    | 21    |

:::

In [ ]:
# Ihr Code


:::{admonition} Hinweis
:class: note dropdown
Nutzen Sie `DataFrame_Name["neue_spalte"] = [wert1, wert2, ..., wertN]`.
:::

:::{admonition} Lösung
:class: tip dropdown

``` python
# Neue Spalte 'Alter' hinzufügen
studierende['Alter'] = [20, 23, 19, 22, 21]

print(studierende)
```
:::

<br>

## Existierende Tabellen zusammenfügen

Manchmal sind Informationen auf mehrere Tabellen verteilt. Das Kombinieren von Tabellen funktioniert ähnlich wie bei Matrizen, solange die Dimensionen und Inhalte kompatibel sind. 

Bei der **vertikalen Verkettung** werden Tabellen untereinandergehängt. Dafür müssen:
- Die Spalten denselben Namen haben.
- Die Datentypen der Spalten kompatibel sein (z. B. dürfen keine Zahlen mit Text kombiniert werden).

In Pandas funktioniert das mit `pd.concat()`:

In [ ]:
# Neue Zeilen in einem zweiten DataFrame
neue_veranstaltungen = pd.DataFrame({
    'Veranstaltung': ['Mikroökonomie', 'Numerik'],
    'Typ': ['Vorlesung', 'Große Übung'],
    'Raumgröße': [210, 150],
    'Gebäude': ['SO','A5']
})

# Kombination durch vertikale Verkettung
alle_veranstaltungen = pd.concat([veranstaltungen, neue_veranstaltungen])
print(alle_veranstaltungen)

Standardmäßig behält `pandas` die ursprünglichen Indizes bei, was zu doppelten oder nicht fortlaufenden Indizes im Ergebnis führen kann. Um eine saubere, **fortlaufende Nummerierung** zu erhalten, sollte man `ignore_index=True` setzen:

In [ ]:
# Neue Zeilen in einem zweiten DataFrame
neue_veranstaltungen = pd.DataFrame({
    'Veranstaltung': ['Mikroökonomie', 'Numerik'],
    'Typ': ['Vorlesung', 'Große Übung'],
    'Raumgröße': [210, 150],
    'Gebäude': ['SO','A5']
})

# Kombination durch vertikale Verkettung
alle_veranstaltungen = pd.concat([veranstaltungen, neue_veranstaltungen], ignore_index=True)
print(alle_veranstaltungen)

:::{admonition} Aufgabe 2.1
Erzeugen Sie einen Datensatz namens `alle_studierenden`, der die Informationen aus `studierende` mit
| Name   | Fachsemester | Studiengang | Alter |
| ------ | ------------ | ----------- | ----- |
| Fatma  | 1            | Wima        | 18    |
| Gustav | 5            | VWL         | 25    |

kombiniert.
:::

In [ ]:
# Ihr Code


:::{admonition} Hinweis
:class: note dropdown

Nutzen Sie `pd.concat()` und achten Sie darauf, dass die Spalten denselben Namen haben und die Datentypen kompatibel sind. 
:::

:::{admonition} Lösung
:class: tip dropdown

``` python
neue_studierende = pd.DataFrame({
    'Name': ['Fatma', 'Gustav'],
    'Fachsemester': [1, 5],
    'Studiengang': ['Wima', 'VWL'],
    'Alter': [18, 25]
})

# Vertikal zusammenfügen (neue Zeilen)
alle_studierenden = pd.concat([studierende, neue_studierende], ignore_index=True)

print(alle_studierenden)
```
:::

Bei der **horizontalen Verkettung** werden Tabellen nebeneinandergehängt. Dafür gilt:
- Die Tabellen müssen gleich viele Zeilen haben.
- Jede Zeile muss zur gleichen Beobachtung gehören.

Auch das funktioniert mit `pd.concat()` und der zusätzlichen Eingabe `axis=1`:

In [ ]:
# Zusätzliche Informationen zu bestehenden Zeilen
ausstattung = pd.DataFrame({
    'Technik': ['Beamer', 'Tafel', 'Tafel', 'Beamer', 'Beamer'],
    'Fenster': [True, True, True, True, True]
})

# Kombination durch horizontale Verkettung
veranstaltungen_mit_technik = pd.concat([veranstaltungen, ausstattung], axis=1)
print(veranstaltungen_mit_technik)

:::{admonition} Achtung
:class: warning

Die Zeilen müssen in **gleicher Reihenfolge** stehen wie im Original. Sonst können falsche Informationen kombiniert werden. 
:::

:::{admonition} Aufgabe 2.2
Erzeugen Sie einen Datensatz namens `studierende_mit_anfahrt`, der die Informationen aus `studierende` mit
| Name   | Wohnort   | Weg zur Uni |
| ------ | --------- | ----------- |
| Anna   | Frankfurt | Zug         |
| Berkan | Mannheim  | zu Fuß      |
| Daniel | Stuttgart | Auto        |
| Elif   | Mannheim  | Tram        |
| Clara  | Mannheim  | Bus         |

kombiniert.

:::

In [ ]:
# Ihr Code


:::{admonition} Hinweis
:class: note dropdown

Nutzen Sie `pd.concat()` und achten Sie darauf, dass gleich viele Zeilen vorhanden sind und die Zeilen der gleichen Beobachtung zugeordnet werden. 
:::

:::{admonition} Lösung
:class: tip dropdown

``` python
# Neuer DataFrame mit Zusatzinfos
zusatzinfos = pd.DataFrame({
    'Name': ['Anna', 'Berkan', 'Clara', 'Daniel', 'Elif'],
    'Wohnort': ['Frankfurt', 'Mannheim', 'Mannheim', 'Stuttgart', 'Mannheim'],
    'Weg zur Uni': ['Zug', 'zu Fuß', 'Bus', 'Auto', 'Tram']
})

# Horizontales Zusammenfügen (Spalten werden ergänzt)
studierende_mit_anfahrt = pd.concat([studierende, zusatzinfos], axis=1)

print(studierende_mit_anfahrt)
```
:::